h1,
h2,
h3,
h4,
h5,
h6 {
	-webkit-margin-before: 0px;
	margin-block-start: 0px;
	-webkit-margin-after: 0px;
	margin-block-end: 0px;
	-webkit-margin-start: 0px;
	margin-inline-start: 0px;
	-webkit-margin-end: 0px;
	margin-inline-end: 0px;
}

ul {
	list-style-type: none;
	list-style: none;
	-webkit-margin-before: unset;
	margin-block-start: unset;
	-webkit-margin-after: unset;
	margin-block-end: unset;
	-webkit-margin-start: unset;
	margin-inline-start: unset;
	-webkit-margin-end: unset;
	margin-inline-end: unset;
	-webkit-padding-start: unset;
	padding-inline-start: unset;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

button {
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	border: none;
	background-color: unset;
	color: unset;
}

input {
	outline: none;
	color: inherit;
	font-family: inherit;
}
